# Python byte‐code caches
__pycache__/

# VSCode workspace settings
.vscode/

# Virtual environment
.venv/

# Build & distribution outputs
build/
dist/

# Bundled executable + spec
taskorganizer.exe
taskorganizer.spec



# Logs, OS junk
*.log
.DS_Store
Thumbs.db

launch_flask.vbs
package command.txt
# ignore everything in Data/
Data/*

# but keep this “.gitkeep” placeholder
!Data/.gitkeep
